.u-section-1 .u-sheet-1 {
  min-height: 284px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 44px auto 0 0;
  padding: 33px 45px 34px 44px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: -96px auto 0 186px;
  padding: 33px 73px 35px;
}

.u-section-1 .u-icon-1 {
  height: 35px;
  width: 35px;
  margin: -66px auto 60px 408px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 161px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 188px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 179px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 63px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 44px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 87px;
    margin-left: auto;
  }
}.u-section-2 .u-image-1 {
  min-height: 618px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/57e2d6454f5aad14f6da8c7dda793678153bdee757596c48732e7bd29e48cc58bd_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-text-1 {
  font-family: Capriola;
  font-size: 2.25rem;
  margin: 250px 490px 0 64px;
}

.u-section-2 .u-text-2 {
  font-family: Capriola;
  font-size: 2.25rem;
  margin: 32px 504px 60px 64px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    min-height: 509px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 354px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 368px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    min-height: 390px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 134px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 148px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    min-height: 293px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    background-position: 97.14% 50%;
    min-height: 184px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 832px;
}

.u-section-3 .u-image-1 {
  object-position: 0% 50%;
  filter: brightness(0.6);
  height: 734px;
  margin-top: 98px;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-3 .u-list-1 {
  min-height: 397px;
  grid-template-rows: auto;
  width: 1026px;
  margin: -499px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 17.3333px);
  grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
  grid-gap: 26px 26px;
  grid-auto-rows: 100%;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 14px;
}

.u-section-3 .u-text-2 {
  margin: 13px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: 0 14px;
}

.u-section-3 .u-text-4 {
  margin: 13px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  margin: 0 14px;
}

.u-section-3 .u-text-6 {
  margin: 13px 0 0;
}

.u-section-3 .u-text-7 {
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: 300;
  font-size: 3.75rem;
  text-transform: none;
  width: 668px;
  margin: -570px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 126px;
  width: 126px;
  background-image: none;
  margin: 157px auto 0 162px;
}

.u-section-3 .u-icon-2 {
  height: 126px;
  width: 127px;
  background-image: none;
  margin: -126px auto 0;
}

.u-section-3 .u-icon-3 {
  height: 126px;
  width: 126px;
  background-image: none;
  margin: -123px 169px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -420px;
  }

  .u-section-3 .u-list-1 {
    min-height: 328px;
    width: 940px;
    height: auto;
    margin-top: -333px;
    margin-left: 100px;
  }

  .u-section-3 .u-text-1 {
    width: 238px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: 238px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    width: 238px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1186px;
  }

  .u-section-3 .u-image-1 {
    height: 1007px;
    margin-top: 166px;
  }

  .u-section-3 .u-list-1 {
    min-height: 754px;
    margin-top: -806px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 13px);
    grid-template-columns: calc(50% - 13px) calc(50% - 13px);
    grid-auto-rows: calc(50% - 13px);
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: -898px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 147px;
    margin-left: 99px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 127px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 277px;
    margin-right: auto;
    margin-left: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-top: -401px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -1095px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 17.3333px);
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: 323px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
    width: 323px;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
    width: 323px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 300px;
    margin-right: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 20px;
    margin-left: 162px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 20px;
    margin-left: 162px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    margin-top: 149px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -788px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 17.333333333333332px);
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-text-7 {
    font-size: 2.25rem;
    margin-top: -899px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-1 {
    height: 86px;
    width: 86px;
    margin-top: 65px;
    margin-left: 116px;
  }

  .u-section-3 .u-icon-2 {
    height: 84px;
    width: 85px;
    margin-top: 168px;
    margin-right: auto;
    margin-left: 116px;
  }

  .u-section-3 .u-icon-3 {
    height: 86px;
    width: 86px;
    margin-top: 194px;
    margin-left: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 865px;
}

.u-section-4 .u-line-1 {
  width: 399px;
  height: 3px;
  transform-origin: right center 0px;
  position: absolute;
  top: 113px;
  left: auto;
  right: 0;
}

.u-section-4 .u-text-1 {
  width: 480px;
  font-size: 2.25rem;
  margin: 95px auto 0;
}

.u-section-4 .u-line-2 {
  width: 399px;
  height: 3px;
  transform-origin: right center 0px;
  margin: -21px auto 0 0;
}

.u-section-4 .u-gallery-1 {
  width: 908px;
  height: 613px;
  margin: 108px auto 27px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-back-image-1 {
  object-position: 50% 14.98%;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1394px;
  }

  .u-section-4 .u-line-1 {
    width: 296px;
    transform-origin: left center 0px;
    top: 682px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 653px;
  }

  .u-section-4 .u-line-2 {
    width: 300px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 99px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1732px;
  }

  .u-section-4 .u-line-1 {
    width: 190px;
    top: 985px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 684px;
  }

  .u-section-4 .u-line-2 {
    width: 191px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 74px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 628px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-4 .u-line-1 {
    width: 60px;
    top: 158px;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 146px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-line-2 {
    width: 56px;
    margin-top: -15px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 75px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}